@import "./variables";

.swal2-container.swal2-top-end>.swal2-popup,
.swal2-container.swal2-top-right>.swal2-popup {
    background-color: $purple;
}

.swal2-timer-progress-bar {
    background-color: $deep_dark;
}

.swal2-icon.swal2-success .swal2-success-ring {
    border: .25em solid rgb(22 29 49);
}

.swal2-title {
    color: white;
}

.swal2-popup {
    background-color: #3b3779;
}


.list_card {
    margin-bottom: 0;

    .card-header{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
        padding: 15px 25px;
    }

    .card-body {
        min-height: 100%;
        max-height: calc(100vh - 280px);
        padding-top: 0;
        padding-bottom: 0;
        @extend .custom_scroll;

        .table>:not(caption)>*>* {
            padding: 9px 2rem;
        }
    }

    thead {
        position: sticky;
        top: -1px;
        left: 0;
        border-bottom: 0;
        z-index: 1;

        th,
        td {
            text-align: center;

            &[aria-label="actions"] {
                width: 100px;
            }

            &[aria-label="id"] {
                width: 90px;
            }
        }
    }

    tbody {
        tr {
            &:first-child {
                td {
                    .table_actions {
                        &:hover {
                            ul {
                                transform: translate(0, 0) scale(1);
                                top: 0;
                                bottom: unset;
                            }
                        }
                    }
                }
            }

            &:last-child {
                td {
                    .table_actions {
                        &:hover {
                            ul {
                                transform: translate(0, 0) scale(1);
                                top: unset;
                                bottom: -15px;
                            }
                        }
                    }
                }
            }

            td {
                text-align: center;

                .table_actions {
                    position: relative;
                    display: inline-block;

                    &:hover {
                        ul {
                            right: 100%;
                            transform: translate(0%, -50%) scale(1);

                            li {
                                opacity: 1;

                                @for $i from 1 through 6 {
                                    &:nth-child(#{$i}) {
                                        margin-left: 0px;
                                    }
                                }
                            }
                        }
                    }

                    ul {
                        min-width: 110px;
                        width: min-content;
                        padding: 10px 20px;
                        list-style-type: none;
                        right: 50%;
                        overflow: hidden;
                        transition-duration: .3s;
                        position: absolute;
                        z-index: 99;
                        background-color: #283046;
                        box-shadow: 0 4px 24px 0 rgb(0 0 0 / 24%);
                        border-radius: 3px;
                        text-align: left;
                        top: 50%;
                        transform: translate(50%, -50%) scale(0);

                        li {
                            margin: 0px 0px;
                            transition-duration: .2s;
                            opacity: 0;

                            @for $i from 1 through 6 {
                                &:nth-child(#{$i}) {
                                    margin-left: ($i * 10px);
                                    transition-delay: ($i * .15s);
                                }
                            }

                            a {
                                color: $white;
                                transition-duration: .3s;
                                text-transform: capitalize;
                                display: block;
                                padding: .65rem 1.28rem;

                                &:hover {
                                    // color: $purple;
                                    padding-left: 10px;
                                    background: rgba(115, 103, 240, .12);
                                    color: #7367F0;
                                }

                                &:active{
                                    background-color: #7367F0;
                                    color: #FFF;
                                }

                                i {
                                    width: 20px;
                                }
                            }
                        }
                    }


                }

            }
        }
    }

    .show-limit {
        padding-top: 6px;

        span {
            font-weight: bold;
            padding-left: 4px;
            padding-right: 4px;
        }

        select {
            border-radius: 5px;
        }
    }
}
