@import "./variables";

.custom_scroll {

    /* width */
    &::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: transparent;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $light_dark;
        border-radius: 25px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: $purple;
    }
}

.content-body {
    // border: 1px solid;
    min-height: calc(100vh - 205px);
    max-height: calc(100vh - 205px);
    overflow-y: scroll;

    @extend .custom_scroll;
}

.vertical-layout.vertical-menu-modern .main-menu .navigation li a:hover {
    background-color: rgba(67, 89, 113, .3);
}

.navigation li {
    position: relative;

    &.has-sub {
        &::after {
            content: '\f105';
            font-family: 'FontAwesome';
            position: absolute;
            right: 22px;
            top: 22px;
            transform: translateY(-50%);
            color: $white;
        }

        &.open {
            &::after {
                content: '\f107';
            }
        }
    }
}

.vertical-layout.vertical-menu-modern .main-menu {
    @media (max-width: 1199.98px) {
        width: 80px;

        html.nav-hide & {
            width: 260px;

            .navbar-header {
                .navbar-brand {
                    .brand-text {
                        display: block;
                    }
                }
            }

            .navigation-main {
                &>li {
                    &.navigation-header {
                        display: block;
                    }

                    &::after {
                        display: block;
                    }

                    a {
                        i {
                            font-size: 15px;
                            padding-left: 0px;
                            padding-top: 0px;
                        }
                    }

                    ul {
                        display: none;

                        li {
                            box-sizing: border-box;
                        }
                    }

                    &.has-sub.open {
                        ul {
                            display: block;
                        }
                    }
                }
            }
        }

        .navbar-header {
            .navbar-brand {
                .brand-text {
                    display: none;
                }
            }
        }

        .navigation-main {
            &>li {
                &.navigation-header {
                    display: none;
                }

                &::after {
                    display: none;
                }

                a {
                    i {
                        font-size: 13px;
                        padding-left: 4px;
                        padding-top: 2px;
                    }
                }

                ul {
                    display: none;

                    li {
                        box-sizing: border-box;
                    }
                }
            }
        }

        &:hover {
            width: 260px;

            .navbar-header {
                .navbar-brand {
                    .brand-text {
                        display: block;
                    }
                }
            }

            .navigation-main {
                &>li {
                    &.navigation-header {
                        display: block;
                    }

                    &::after {
                        display: block;
                    }

                    a {
                        i {
                            font-size: 15px;
                            padding-left: 0px;
                            padding-top: 0px;
                        }
                    }

                    ul {
                        display: none;

                        li {
                            box-sizing: border-box;
                        }
                    }

                    &.has-sub.open {
                        ul {
                            display: block;
                        }
                    }
                }
            }
        }
    }

    @media (min-height: 1200px) {
        html.nav-hide & {
            width: 80px;

            .navbar-header {
                .navbar-brand {
                    .brand-text {
                        display: none;
                    }
                }
            }

            .navigation-main {
                &>li {
                    &.navigation-header {
                        display: none;
                    }

                    &::after {
                        display: none;
                    }

                    a {
                        i {
                            font-size: 13px;
                            padding-left: 4px;
                            padding-top: 2px;
                        }
                    }

                    ul {
                        display: none;

                        li {
                            box-sizing: border-box;
                        }
                    }
                }
            }

            &:hover {
                width: 260px;

                .navbar-header {
                    .navbar-brand {
                        .brand-text {
                            display: block;
                        }
                    }
                }

                .navigation-main {
                    &>li {
                        &.navigation-header {
                            display: block;
                        }

                        &::after {
                            display: block;
                        }

                        a {
                            i {
                                font-size: 15px;
                                padding-left: 0px;
                                padding-top: 0px;
                            }
                        }

                        ul {
                            display: none;

                            li {
                                box-sizing: border-box;
                            }
                        }

                        &.has-sub.open {
                            ul {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}

.vertical-layout.vertical-menu-modern .app-content {
    @media (max-width: 1199.98px) {
        left: 80px;
        width: calc(100vw - 80px);
    }

    html.nav-hide & {
        margin-left: 80px;

        @media (max-width: 1199.98px) {
            margin-left: 260px;
        }
    }
}

.header-navbar.fixed-top,
.header-navbar.floating-nav {
    @media (max-width: 1199.98px) {
        left: 80px;
        width: calc(100vw - 110px);
    }

    html.nav-hide & {
        width: 92%;
        left: 80px;

        @media (max-width: 1199.98px) {
            left: 260px;
            width: calc(100vw - (100vw - 100%) - calc(2rem * 2) - 260px);
        }
    }
}
