@import "./variables";

.custom_scroll {

    /* width */
    &::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: transparent;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $light_dark;
        border-radius: 25px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: $purple;
    }
}

.content-body {
    // border: 1px solid;
    min-height: calc(100vh - 205px);
    max-height: calc(100vh - 205px);
    overflow-y: scroll;

    @extend .custom_scroll;
}

.vertical-layout.vertical-menu-modern .main-menu .navigation li a:hover {
    background-color: rgba(67, 89, 113, .3);
}

.vertical-layout.vertical-menu-modern .main-menu{
    html.nav-hide & {
        width: 0px;
        @media (max-width: 1199.98px){
            width: 260px;
        }

    }
}
.vertical-layout.vertical-menu-modern .app-content{
    html.nav-hide & {
        margin-left: 0;
        @media (max-width: 1199.98px){
            margin-left: 260px;
        }
    }
}
.header-navbar{
    html.nav-hide & {
        width: 99%;
        left: 0;
        @media (max-width: 1199.98px){
            left: 260px;
            width: calc(100vw - (100vw - 100%) - calc(2rem * 2) - 260px);
        }
    }
}

.navigation li{
    position: relative;
    &.has-sub{
        &::after{
            content: '\f105';
            font-family: 'FontAwesome';
            position: absolute;
            right: 22px;
            top: 22px;
            transform: translateY(-50%);
            color: $white;
        }
        &.open{
            &::after{
                content: '\f107';
            }
        }
    }
}
