.custom_scroll, .list_card .card-body {
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.custom_scroll::-webkit-scrollbar, .list_card .card-body::-webkit-scrollbar {
  width: 10px;
}
.custom_scroll::-webkit-scrollbar-track, .list_card .card-body::-webkit-scrollbar-track {
  background: #283046;
}
.custom_scroll::-webkit-scrollbar-thumb, .list_card .card-body::-webkit-scrollbar-thumb {
  background: #b4b7be;
  border-radius: 25px;
}
.custom_scroll::-webkit-scrollbar-thumb:hover, .list_card .card-body::-webkit-scrollbar-thumb:hover {
  background: #7367f0;
}

.watch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #7367f0;
  padding: 5px;
  border-radius: 2px;
  font-family: clock;
  font-size: 18px;
  color: #161d31;
  position: fixed;
  bottom: 5px;
  width: calc(100% - 10px);
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.watch.to_nav_watch {
  position: unset;
  -webkit-transform: unset;
      -ms-transform: unset;
          transform: unset;
  background-color: unset;
}
html.dark-layout .watch.to_nav_watch {
  color: #b4b7be;
}
.watch .title,
.watch .hour,
.watch .min,
.watch .sec,
.watch .meridian {
  margin: 0px 2px;
  min-width: 17.2px;
  text-align: center;
  font-family: Montserrat, Helvetica, Arial, serif;
  text-transform: capitalize;
}

.custom_scroll, .list_card .card-body {
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.custom_scroll::-webkit-scrollbar, .list_card .card-body::-webkit-scrollbar {
  width: 10px;
}
.custom_scroll::-webkit-scrollbar-track, .list_card .card-body::-webkit-scrollbar-track {
  background: #283046;
}
.custom_scroll::-webkit-scrollbar-thumb, .list_card .card-body::-webkit-scrollbar-thumb {
  background: #b4b7be;
  border-radius: 25px;
}
.custom_scroll::-webkit-scrollbar-thumb:hover, .list_card .card-body::-webkit-scrollbar-thumb:hover {
  background: #7367f0;
}

.content-body {
  min-height: calc(100vh - 120px);
  max-height: calc(100vh - 120px);
  overflow-y: hidden;
}

.vertical-layout.vertical-menu-modern .main-menu .navigation li a:hover {
  background-color: rgba(67, 89, 113, 0.3);
}

.vertical-layout.vertical-menu-modern .main-menu .navigation li {
  position: relative;
}
.vertical-layout.vertical-menu-modern .main-menu .navigation li > a > i {
  font-size: 15px;
  padding-top: 1px;
  margin-right: 10px;
}
.vertical-layout.vertical-menu-modern .main-menu .navigation li.has-sub::after {
  content: "\f105";
  font-family: "FontAwesome";
  position: absolute;
  right: 22px;
  top: 22px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #b4b7be;
}
.vertical-layout.vertical-menu-modern .main-menu .navigation li.has-sub.open::after {
  content: "\f107";
}
.vertical-layout.vertical-menu-modern .main-menu .navigation li.has-sub:has(.active)::after {
  content: "\f107";
}

@media screen and (max-width: 1199.9px) {
  .vertical-layout.vertical-menu-modern .main-menu {
    width: 80px;
  }
  html.nav-hide .vertical-layout.vertical-menu-modern .main-menu {
    width: 260px;
  }
  html.nav-hide .vertical-layout.vertical-menu-modern .main-menu .navbar-header .navbar-brand .brand-text {
    display: block;
  }
  html.nav-hide .vertical-layout.vertical-menu-modern .main-menu .navigation-main > li.navigation-header {
    display: block;
  }
  html.nav-hide .vertical-layout.vertical-menu-modern .main-menu .navigation-main > li::after {
    display: block;
  }
  html.nav-hide .vertical-layout.vertical-menu-modern .main-menu .navigation-main > li a i {
    font-size: 15px;
    padding-left: 0px;
    padding-top: 0px;
  }
  html.nav-hide .vertical-layout.vertical-menu-modern .main-menu .navigation-main > li ul {
    display: none;
  }
  html.nav-hide .vertical-layout.vertical-menu-modern .main-menu .navigation-main > li ul li {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  html.nav-hide .vertical-layout.vertical-menu-modern .main-menu .navigation-main > li.has-sub.open ul {
    display: block;
  }
  .vertical-layout.vertical-menu-modern .main-menu .navbar-header .navbar-brand .brand-text {
    display: none;
  }
  .vertical-layout.vertical-menu-modern .main-menu .navigation-main > li.navigation-header {
    display: none;
  }
  .vertical-layout.vertical-menu-modern .main-menu .navigation-main > li::after {
    display: none;
  }
  .vertical-layout.vertical-menu-modern .main-menu .navigation-main > li a i {
    font-size: 13px;
    padding-left: 4px;
    padding-top: 2px;
  }
  .vertical-layout.vertical-menu-modern .main-menu .navigation-main > li ul {
    display: none;
  }
  .vertical-layout.vertical-menu-modern .main-menu .navigation-main > li ul li {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .vertical-layout.vertical-menu-modern .main-menu:hover {
    width: 260px;
  }
  .vertical-layout.vertical-menu-modern .main-menu:hover .navbar-header .navbar-brand .brand-text {
    display: block;
  }
  .vertical-layout.vertical-menu-modern .main-menu:hover .navigation-main > li.navigation-header {
    display: block;
  }
  .vertical-layout.vertical-menu-modern .main-menu:hover .navigation-main > li::after {
    display: block;
  }
  .vertical-layout.vertical-menu-modern .main-menu:hover .navigation-main > li a i {
    font-size: 15px;
    padding-left: 0px;
    padding-top: 0px;
  }
  .vertical-layout.vertical-menu-modern .main-menu:hover .navigation-main > li ul {
    display: none;
  }
  .vertical-layout.vertical-menu-modern .main-menu:hover .navigation-main > li ul:has(.active) {
    display: block;
  }
  .vertical-layout.vertical-menu-modern .main-menu:hover .navigation-main > li ul li {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .vertical-layout.vertical-menu-modern .main-menu:hover .navigation-main > li.has-sub.open ul {
    display: block;
  }
}
@media (min-width: 1199.9px) {
  .vertical-layout.vertical-menu-modern .main-menu {
    width: 260px;
  }
  html.nav-hide .vertical-layout.vertical-menu-modern .main-menu {
    width: 80px;
  }
  html.nav-hide .vertical-layout.vertical-menu-modern .main-menu .navbar-header .navbar-brand .brand-text {
    display: none;
  }
  html.nav-hide .vertical-layout.vertical-menu-modern .main-menu .navigation-main > li.navigation-header {
    display: none;
  }
  html.nav-hide .vertical-layout.vertical-menu-modern .main-menu .navigation-main > li::after {
    display: none;
  }
  html.nav-hide .vertical-layout.vertical-menu-modern .main-menu .navigation-main > li a i {
    font-size: 13px;
    padding-left: 4px;
    padding-top: 2px;
  }
  html.nav-hide .vertical-layout.vertical-menu-modern .main-menu .navigation-main > li ul {
    display: none;
  }
  html.nav-hide .vertical-layout.vertical-menu-modern .main-menu .navigation-main > li ul li {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  html.nav-hide .vertical-layout.vertical-menu-modern .main-menu:hover {
    width: 260px;
  }
  html.nav-hide .vertical-layout.vertical-menu-modern .main-menu:hover .navbar-header .navbar-brand .brand-text {
    display: block;
  }
  html.nav-hide .vertical-layout.vertical-menu-modern .main-menu:hover .navigation-main > li.navigation-header {
    display: block;
  }
  html.nav-hide .vertical-layout.vertical-menu-modern .main-menu:hover .navigation-main > li::after {
    display: block;
  }
  html.nav-hide .vertical-layout.vertical-menu-modern .main-menu:hover .navigation-main > li a i {
    font-size: 15px;
    padding-left: 0px;
    padding-top: 0px;
  }
  html.nav-hide .vertical-layout.vertical-menu-modern .main-menu:hover .navigation-main > li ul {
    display: none;
  }
  html.nav-hide .vertical-layout.vertical-menu-modern .main-menu:hover .navigation-main > li ul li {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  html.nav-hide .vertical-layout.vertical-menu-modern .main-menu:hover .navigation-main > li.has-sub.open ul {
    display: block;
  }
}

@media (max-width: 1199.9px) {
  .vertical-layout.vertical-menu-modern .app-content {
    left: 80px;
    width: calc(100vw - 80px);
  }
}
html.nav-hide .vertical-layout.vertical-menu-modern .app-content {
  margin-left: 80px;
}
@media (max-width: 1199.9px) {
  html.nav-hide .vertical-layout.vertical-menu-modern .app-content {
    margin-left: 260px;
  }
}

@media (max-width: 1199.9px) {
  .header-navbar.fixed-top,
  .header-navbar.floating-nav {
    left: 80px;
    width: calc(100vw - 110px);
  }
}
html.nav-hide .header-navbar.fixed-top,
html.nav-hide .header-navbar.floating-nav {
  width: 92%;
  left: 80px;
}
@media (max-width: 1199.9px) {
  html.nav-hide .header-navbar.fixed-top,
  html.nav-hide .header-navbar.floating-nav {
    left: 260px;
    width: calc(100vw - (100vw - 100%) - 4rem - 260px);
  }
}

.main-menu.menu-dark .navigation > li ul .has-sub ul:has(.active),
.main-menu.menu-dark .navigation > li ul:has(.active) {
  display: block;
}

.dark-layout .main-menu-content .navigation-main .nav-item:has(.active) > a {
  background-color: #161D31 !important;
}

.main-menu.menu-dark .navigation > li:not(.open) > ul .active {
  background: -o-linear-gradient(332deg, #7367F0, rgba(115, 103, 240, 0.7));
  background: linear-gradient(118deg, #7367F0, rgba(115, 103, 240, 0.7));
  -webkit-box-shadow: 0 0 10px 1px rgba(115, 103, 240, 0.7);
          box-shadow: 0 0 10px 1px rgba(115, 103, 240, 0.7);
}

.custom_scroll, .list_card .card-body {
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.custom_scroll::-webkit-scrollbar, .list_card .card-body::-webkit-scrollbar {
  width: 10px;
}
.custom_scroll::-webkit-scrollbar-track, .list_card .card-body::-webkit-scrollbar-track {
  background: #283046;
}
.custom_scroll::-webkit-scrollbar-thumb, .list_card .card-body::-webkit-scrollbar-thumb {
  background: #b4b7be;
  border-radius: 25px;
}
.custom_scroll::-webkit-scrollbar-thumb:hover, .list_card .card-body::-webkit-scrollbar-thumb:hover {
  background: #7367f0;
}

.swal2-container.swal2-top-end > .swal2-popup, .swal2-container.swal2-top-right > .swal2-popup {
  background-color: #7367f0;
}

.swal2-timer-progress-bar {
  background-color: #161d31;
}

.swal2-icon.swal2-success .swal2-success-ring {
  border: 0.25em solid rgb(22, 29, 49);
}

.swal2-title {
  color: white;
}

.swal2-popup {
  background-color: #3b3779;
}

.list_card .card-body {
  min-height: calc(100vh - 322px);
  max-height: calc(100vh - 322px);
}
.list_card thead {
  position: sticky;
  top: -1px;
  left: 0;
  border-bottom: 0;
}
