.watch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #7367f0;
  padding: 5px;
  border-radius: 2px;
  font-family: clock;
  font-size: 18px;
  color: #161d31;
  position: fixed;
  bottom: 5px;
  width: calc(100% - 10px);
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.watch.to_nav_watch {
  position: unset;
  -webkit-transform: unset;
      -ms-transform: unset;
          transform: unset;
  background-color: unset;
}
html.dark-layout .watch.to_nav_watch {
  color: #b4b7be;
}
.watch .title,
.watch .hour,
.watch .min,
.watch .sec,
.watch .meridian {
  margin: 0px 2px;
  min-width: 17.2px;
  text-align: center;
  font-family: Montserrat, Helvetica, Arial, serif;
  text-transform: capitalize;
}

.custom_scroll, .content-body {
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.custom_scroll::-webkit-scrollbar, .content-body::-webkit-scrollbar {
  width: 10px;
}
.custom_scroll::-webkit-scrollbar-track, .content-body::-webkit-scrollbar-track {
  background: transparent;
}
.custom_scroll::-webkit-scrollbar-thumb, .content-body::-webkit-scrollbar-thumb {
  background: #283046;
  border-radius: 25px;
}
.custom_scroll::-webkit-scrollbar-thumb:hover, .content-body::-webkit-scrollbar-thumb:hover {
  background: #7367f0;
}

.content-body {
  min-height: calc(100vh - 205px);
  max-height: calc(100vh - 205px);
  overflow-y: scroll;
}

.vertical-layout.vertical-menu-modern .main-menu .navigation li a:hover {
  background-color: rgba(67, 89, 113, 0.3);
}

.navigation li {
  position: relative;
}
.navigation li.has-sub::after {
  content: "\f105";
  font-family: "FontAwesome";
  position: absolute;
  right: 22px;
  top: 22px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #b4b7be;
}
.navigation li.has-sub.open::after {
  content: "\f107";
}

@media (max-width: 1199.98px) {
  .vertical-layout.vertical-menu-modern .main-menu {
    width: 80px;
  }
  html.nav-hide .vertical-layout.vertical-menu-modern .main-menu {
    width: 260px;
  }
  html.nav-hide .vertical-layout.vertical-menu-modern .main-menu .navbar-header .navbar-brand .brand-text {
    display: block;
  }
  html.nav-hide .vertical-layout.vertical-menu-modern .main-menu .navigation-main > li.navigation-header {
    display: block;
  }
  html.nav-hide .vertical-layout.vertical-menu-modern .main-menu .navigation-main > li::after {
    display: block;
  }
  html.nav-hide .vertical-layout.vertical-menu-modern .main-menu .navigation-main > li a i {
    font-size: 15px;
    padding-left: 0px;
    padding-top: 0px;
  }
  html.nav-hide .vertical-layout.vertical-menu-modern .main-menu .navigation-main > li ul {
    display: none;
  }
  html.nav-hide .vertical-layout.vertical-menu-modern .main-menu .navigation-main > li ul li {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  html.nav-hide .vertical-layout.vertical-menu-modern .main-menu .navigation-main > li.has-sub.open ul {
    display: block;
  }
  .vertical-layout.vertical-menu-modern .main-menu .navbar-header .navbar-brand .brand-text {
    display: none;
  }
  .vertical-layout.vertical-menu-modern .main-menu .navigation-main > li.navigation-header {
    display: none;
  }
  .vertical-layout.vertical-menu-modern .main-menu .navigation-main > li::after {
    display: none;
  }
  .vertical-layout.vertical-menu-modern .main-menu .navigation-main > li a i {
    font-size: 13px;
    padding-left: 4px;
    padding-top: 2px;
  }
  .vertical-layout.vertical-menu-modern .main-menu .navigation-main > li ul {
    display: none;
  }
  .vertical-layout.vertical-menu-modern .main-menu .navigation-main > li ul li {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .vertical-layout.vertical-menu-modern .main-menu:hover {
    width: 260px;
  }
  .vertical-layout.vertical-menu-modern .main-menu:hover .navbar-header .navbar-brand .brand-text {
    display: block;
  }
  .vertical-layout.vertical-menu-modern .main-menu:hover .navigation-main > li.navigation-header {
    display: block;
  }
  .vertical-layout.vertical-menu-modern .main-menu:hover .navigation-main > li::after {
    display: block;
  }
  .vertical-layout.vertical-menu-modern .main-menu:hover .navigation-main > li a i {
    font-size: 15px;
    padding-left: 0px;
    padding-top: 0px;
  }
  .vertical-layout.vertical-menu-modern .main-menu:hover .navigation-main > li ul {
    display: none;
  }
  .vertical-layout.vertical-menu-modern .main-menu:hover .navigation-main > li ul li {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .vertical-layout.vertical-menu-modern .main-menu:hover .navigation-main > li.has-sub.open ul {
    display: block;
  }
}
@media (min-height: 1200px) {
  html.nav-hide .vertical-layout.vertical-menu-modern .main-menu {
    width: 80px;
  }
  html.nav-hide .vertical-layout.vertical-menu-modern .main-menu .navbar-header .navbar-brand .brand-text {
    display: none;
  }
  html.nav-hide .vertical-layout.vertical-menu-modern .main-menu .navigation-main > li.navigation-header {
    display: none;
  }
  html.nav-hide .vertical-layout.vertical-menu-modern .main-menu .navigation-main > li::after {
    display: none;
  }
  html.nav-hide .vertical-layout.vertical-menu-modern .main-menu .navigation-main > li a i {
    font-size: 13px;
    padding-left: 4px;
    padding-top: 2px;
  }
  html.nav-hide .vertical-layout.vertical-menu-modern .main-menu .navigation-main > li ul {
    display: none;
  }
  html.nav-hide .vertical-layout.vertical-menu-modern .main-menu .navigation-main > li ul li {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  html.nav-hide .vertical-layout.vertical-menu-modern .main-menu:hover {
    width: 260px;
  }
  html.nav-hide .vertical-layout.vertical-menu-modern .main-menu:hover .navbar-header .navbar-brand .brand-text {
    display: block;
  }
  html.nav-hide .vertical-layout.vertical-menu-modern .main-menu:hover .navigation-main > li.navigation-header {
    display: block;
  }
  html.nav-hide .vertical-layout.vertical-menu-modern .main-menu:hover .navigation-main > li::after {
    display: block;
  }
  html.nav-hide .vertical-layout.vertical-menu-modern .main-menu:hover .navigation-main > li a i {
    font-size: 15px;
    padding-left: 0px;
    padding-top: 0px;
  }
  html.nav-hide .vertical-layout.vertical-menu-modern .main-menu:hover .navigation-main > li ul {
    display: none;
  }
  html.nav-hide .vertical-layout.vertical-menu-modern .main-menu:hover .navigation-main > li ul li {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  html.nav-hide .vertical-layout.vertical-menu-modern .main-menu:hover .navigation-main > li.has-sub.open ul {
    display: block;
  }
}

@media (max-width: 1199.98px) {
  .vertical-layout.vertical-menu-modern .app-content {
    left: 80px;
    width: calc(100vw - 80px);
  }
}
html.nav-hide .vertical-layout.vertical-menu-modern .app-content {
  margin-left: 80px;
}
@media (max-width: 1199.98px) {
  html.nav-hide .vertical-layout.vertical-menu-modern .app-content {
    margin-left: 260px;
  }
}

@media (max-width: 1199.98px) {
  .header-navbar.fixed-top,
  .header-navbar.floating-nav {
    left: 80px;
    width: calc(100vw - 110px);
  }
}
html.nav-hide .header-navbar.fixed-top,
html.nav-hide .header-navbar.floating-nav {
  width: 92%;
  left: 80px;
}
@media (max-width: 1199.98px) {
  html.nav-hide .header-navbar.fixed-top,
  html.nav-hide .header-navbar.floating-nav {
    left: 260px;
    width: calc(100vw - (100vw - 100%) - 4rem - 260px);
  }
}
