@tailwind preflight;
.collapse{
    visibility: collapse
}
.fixed{
    position: fixed
}
.relative{
    position: relative
}
.top-0{
    top: 0px
}
.right-0{
    right: 0px
}
.m-0{
    margin: 0px
}
.mx-auto{
    margin-left: auto;
    margin-right: auto
}
.ml-1{
    margin-left: 0.25rem
}
.mt-2{
    margin-top: 0.5rem
}
.mr-2{
    margin-right: 0.5rem
}
.ml-2{
    margin-left: 0.5rem
}
.mt-4{
    margin-top: 1rem
}
.ml-4{
    margin-left: 1rem
}
.mt-8{
    margin-top: 2rem
}
.ml-12{
    margin-left: 3rem
}
.-mt-px{
    margin-top: -1px
}
.mb-0{
    margin-bottom: 0px
}
.mb-2{
    margin-bottom: 0.5rem
}
.flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}
.grid{
    display: grid
}
.list-item{
    display: list-item
}
.hidden{
    display: none
}
.h-5{
    height: 1.25rem
}
.h-8{
    height: 2rem
}
.h-16{
    height: 4rem
}
.min-h-screen{
    min-height: 100vh
}
.w-5{
    width: 1.25rem
}
.w-8{
    width: 2rem
}
.w-auto{
    width: auto
}
.max-w-xl{
    max-width: 36rem
}
.max-w-6xl{
    max-width: 72rem
}
.grid-cols-1{
    grid-template-columns: repeat(1, minmax(0, 1fr))
}
.flex-row{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row
}
.items-center{
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center
}
.justify-center{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center
}
.overflow-hidden{
    overflow: hidden
}
.rounded-lg{
    border-radius: 0.5rem
}
.border{
    border-width: 1px
}
.border-t{
    border-top-width: 1px
}
.border-r{
    border-right-width: 1px
}
.border-gray-200{
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235 / var(--tw-border-opacity))
}
.border-gray-400{
    --tw-border-opacity: 1;
    border-color: rgb(156 163 175 / var(--tw-border-opacity))
}
.bg-white{
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}
.bg-gray-100{
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity))
}
.p-6{
    padding: 1.5rem
}
.p-5{
    padding: 1.25rem
}
.p-0{
    padding: 0px
}
.py-4{
    padding-top: 1rem;
    padding-bottom: 1rem
}
.px-4{
    padding-left: 1rem;
    padding-right: 1rem
}
.px-6{
    padding-left: 1.5rem;
    padding-right: 1.5rem
}
.px-2{
    padding-left: 0.5rem;
    padding-right: 0.5rem
}
.pt-8{
    padding-top: 2rem
}
.pt-1{
    padding-top: 0.25rem
}
.pb-0{
    padding-bottom: 0px
}
.text-center{
    text-align: center
}
.text-sm{
    font-size: 0.875rem;
    line-height: 1.25rem
}
.text-lg{
    font-size: 1.125rem;
    line-height: 1.75rem
}
.font-semibold{
    font-weight: 600
}
.uppercase{
    text-transform: uppercase
}
.leading-7{
    line-height: 1.75rem
}
.tracking-wider{
    letter-spacing: 0.05em
}
.text-gray-200{
    --tw-text-opacity: 1;
    color: rgb(229 231 235 / var(--tw-text-opacity))
}
.text-gray-300{
    --tw-text-opacity: 1;
    color: rgb(209 213 219 / var(--tw-text-opacity))
}
.text-gray-400{
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity))
}
.text-gray-500{
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity))
}
.text-gray-600{
    --tw-text-opacity: 1;
    color: rgb(75 85 99 / var(--tw-text-opacity))
}
.text-gray-700{
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity))
}
.text-gray-900{
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity))
}
.underline{
    text-decoration-line: underline
}
.antialiased{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.opacity-0{
    opacity: 0
}
.shadow{
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    -webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
            box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}
@media (prefers-color-scheme: dark){
    .dark\:bg-gray-900{
        --tw-bg-opacity: 1;
        background-color: rgb(17 24 39 / var(--tw-bg-opacity))
    }
}
@media (min-width: 640px){
    .sm\:items-center{
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center
    }
    .sm\:justify-start{
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start
    }
    .sm\:px-6{
        padding-left: 1.5rem;
        padding-right: 1.5rem
    }
    .sm\:pt-0{
        padding-top: 0px
    }
}
@media (min-width: 1024px){
    .lg\:px-8{
        padding-left: 2rem;
        padding-right: 2rem
    }
}

